# Directories
wp-admin/
wp-includes/
readme.html
license.txt

# Configuration Files
wp-config.php
wp-config-sample.php

# Dependencies
node_modules/
vendor/
composer.lock
package-lock.json

# Cache/Logs and Temp files
wp-content/cache/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/debug.log
*.log
*.sql
*.sqlite
*.tar.gz
*.zip
*.bak
*.swp
*.swo

# Other, just in case
.DS_Store
Thumbs.db
desktop.ini

# Wordpress files
/index.php
/wp-activate.php
/wp-blog-header.php
/wp-comments-post.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/.htaccess