<!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group WTC_Crowdfung_MVP">
  <!-- wp:group {"layout":{"type":"default"}} -->
  <div
    class="vp_1920 size_1920 viewport_96be56ed54f9 wp-block-group yotako-main">
    <!-- wp:group {"layout":{"type":"default"}} -->
    <div class="wp-block-group container_74b749ee25cc">
      <!-- wp:group {"layout":{"type":"default"}} -->
      <div class="wp-block-group container_dfaca89b3308">
        <!-- wp:heading {"level":2,"style":{"typography":{"textTransform":"capitalize","fontStyle":"normal","fontSize":"39.5px","fontWeight":600,"letterSpacing":"-0.4px"},"color":{"text":"#252b42","background":"transparent"}},"align":"left"} -->
        <h2
          class="text_b27722fdea41 has-text-color has-background has-text-align-left"
          style="text-transform:capitalize;font-style:normal;font-size:39.5px;font-weight:600;letter-spacing:-0.4px;color:#252b42;background-color:transparent;">
          Become a WeThinkCode_ Fellow</h2>
        <!-- /wp:heading -->
      </div>
      <!-- /wp:group -->
      <!-- wp:group {"layout":{"type":"default"}} -->
      <div class="wp-block-group container_77ba177d4f28">
        <!-- wp:heading {"level":3,"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"21.5px","fontWeight":400,"letterSpacing":"-0.3px"},"color":{"text":"#333333","background":"transparent"}},"align":"left"} -->
        <h3
          class="text_657d2cf3fa28 has-text-color has-background has-text-align-left"
          style="text-transform:none;font-style:normal;font-size:21.5px;font-weight:400;letter-spacing:-0.3px;color:#333333;background-color:transparent;">
          Support our mission of innovation and join us in making a difference
          and supporting the next generation of tech leaders.</h3>
        <!-- /wp:heading -->
      </div>
      <!-- /wp:group -->
      <!-- wp:group {"layout":{"type":"default"}} -->
      <div class="wp-block-group container_95f579bd9f84">
        <!-- wp:group {"layout":{"type":"default"}} -->
        <div class="wp-block-group container_bcf3bd5eda47">
          <!-- wp:pattern {"slug":"yotako/input_text_fb36245a5638"} /-->
          <!-- wp:pattern {"slug":"yotako/input_text_a779a8a02c70"} /-->
        </div>
        <!-- /wp:group -->
        <!-- wp:pattern {"slug":"yotako/input_text_6b0976d3bc23"} /-->
        <!-- wp:pattern {"slug":"yotako/input_text_e712cb4ae0b8"} /-->
        <!-- wp:yotako-block/button {"className":"button_b0b13364cfd0","buttonType":"submit","form":"form_95f579bd9f84","linkClassName":"button_link_b0b13364cfd0"} -->
        <div class="wp-block-yotako-block-button button_b0b13364cfd0">
          <button type="submit" form="form_95f579bd9f84"
            class="button_link_b0b13364cfd0">
            <!-- wp:paragraph {"style":{"typography":{"textTransform":"capitalize","fontStyle":"normal","fontSize":"15.5px","fontWeight":600,"letterSpacing":"-0.5px"},"color":{"text":"#ffffff","background":"transparent"}},"align":"center"} -->
            <p class="text_005ea2cb922e has-text-color has-background has-text-align-center"
              style="text-transform:capitalize;font-style:normal;font-size:15.5px;font-weight:600;letter-spacing:-0.5px;color:#ffffff;background-color:transparent;">
              Submit</p>
            <!-- /wp:paragraph -->
          </button>
        </div>
        <!-- /wp:yotako-block/button -->
      </div>
      <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
    <!-- wp:group {"layout":{"type":"default"}} -->
    <div class="wp-block-group container_ccf6688da76b">
      <!-- wp:image -->

      <figure class="imageview_3f6eb1e91eb1 wp-block-image">
        <img
          src="https://cdn.yotako.io/d682a09e-349f-4204-8a4b-d66b41f5173e/194:690.svg" />
      </figure>

      <!-- /wp:image -->
      <!-- wp:heading {"level":3,"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"19.5px","fontWeight":600,"letterSpacing":"-0.5px"},"color":{"text":"#ffffff","background":"transparent"}},"align":"center"} -->
      <h3
        class="text_c97b13315fc3 has-text-color has-background has-text-align-center"
        style="text-transform:none;font-style:normal;font-size:19.5px;font-weight:600;letter-spacing:-0.5px;color:#ffffff;background-color:transparent;">
        Johannesburg</h3>
      <!-- /wp:heading -->
      <!-- wp:paragraph {"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"15.5px","fontWeight":400,"letterSpacing":"-0.5px"},"color":{"text":"#ffffff","background":"transparent"}},"align":"center"} -->
      <p class="text_ab9985c4ae24 has-text-color has-background has-text-align-center"
        style="text-transform:none;font-style:normal;font-size:15.5px;font-weight:400;letter-spacing:-0.5px;color:#ffffff;background-color:transparent;">
        132 Jan Smuts Avenue<br />Parkwood, Johannesburg,<br />2193</p>
      <!-- /wp:paragraph -->
      <!-- wp:image -->

      <figure class="imageview_625699af3a70 wp-block-image">
        <img
          src="https://cdn.yotako.io/d682a09e-349f-4204-8a4b-d66b41f5173e/194:695.svg" />
      </figure>

      <!-- /wp:image -->
      <!-- wp:heading {"level":3,"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"19.5px","fontWeight":600,"letterSpacing":"-0.5px"},"color":{"text":"#ffffff","background":"transparent"}},"align":"center"} -->
      <h3
        class="text_373b5ee8f2ea has-text-color has-background has-text-align-center"
        style="text-transform:none;font-style:normal;font-size:19.5px;font-weight:600;letter-spacing:-0.5px;color:#ffffff;background-color:transparent;">
        Cape Town</h3>
      <!-- /wp:heading -->
      <!-- wp:paragraph {"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"15.5px","fontWeight":400,"letterSpacing":"-0.5px"},"color":{"text":"#ffffff","background":"transparent"}},"align":"center"} -->
      <p class="text_be739b56af7c has-text-color has-background has-text-align-center"
        style="text-transform:none;font-style:normal;font-size:15.5px;font-weight:400;letter-spacing:-0.5px;color:#ffffff;background-color:transparent;">
        331 Albert Street, Woodstock,<br />Cape Town, 7915</p>
      <!-- /wp:paragraph -->
      <!-- wp:image -->

      <figure class="imageview_8e09a0142293 wp-block-image">
        <img
          src="https://cdn.yotako.io/d682a09e-349f-4204-8a4b-d66b41f5173e/194:700.svg" />
      </figure>

      <!-- /wp:image -->
      <!-- wp:heading {"level":3,"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"19.5px","fontWeight":600,"letterSpacing":"-0.5px"},"color":{"text":"#ffffff","background":"transparent"}},"align":"center"} -->
      <h3
        class="text_9e9bccdd958d has-text-color has-background has-text-align-center"
        style="text-transform:none;font-style:normal;font-size:19.5px;font-weight:600;letter-spacing:-0.5px;color:#ffffff;background-color:transparent;">
        Durban</h3>
      <!-- /wp:heading -->
      <!-- wp:paragraph {"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"15.5px","fontWeight":400,"letterSpacing":"-0.5px"},"color":{"text":"#ffffff","background":"transparent"}},"align":"center"} -->
      <p class="text_e8a996bb75fb has-text-color has-background has-text-align-center"
        style="text-transform:none;font-style:normal;font-size:15.5px;font-weight:400;letter-spacing:-0.5px;color:#ffffff;background-color:transparent;">
        Durban Club Chambers,<br />8th Floor Durban Club Pl,<br />Durban
        Central, 4001</p>
      <!-- /wp:paragraph -->
      <!-- wp:image -->

      <figure class="imageview_a868278c1724 wp-block-image">
        <img
          src="https://cdn.yotako.io/d682a09e-349f-4204-8a4b-d66b41f5173e/194:705.svg" />
      </figure>

      <!-- /wp:image -->
      <!-- wp:heading {"level":3,"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"19.5px","fontWeight":600,"letterSpacing":"-0.5px"},"color":{"text":"#ffffff","background":"transparent"}},"align":"center"} -->
      <h3
        class="text_b93a71fc8758 has-text-color has-background has-text-align-center"
        style="text-transform:none;font-style:normal;font-size:19.5px;font-weight:600;letter-spacing:-0.5px;color:#ffffff;background-color:transparent;">
        Email</h3>
      <!-- /wp:heading -->
      <!-- wp:paragraph {"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"15.5px","fontWeight":400,"letterSpacing":"-0.5px"},"color":{"text":"#ffffff","background":"transparent"}},"align":"center"} -->
      <p class="text_88b1aff5102d has-text-color has-background has-text-align-center"
        style="text-transform:none;font-style:normal;font-size:15.5px;font-weight:400;letter-spacing:-0.5px;color:#ffffff;background-color:transparent;">
        info@wethinkcode.co.za</p>
      <!-- /wp:paragraph -->
      <!-- wp:group {"layout":{"type":"default"}} -->
      <div class="wp-block-group container_adbfa01141a2">
        <!-- wp:group {"layout":{"type":"default"}} -->
        <div class="wp-block-group container_4e0b78b939e8">
          <!-- wp:image -->

          <figure class="imageview_b50eb1a8a19d wp-block-image">
            <img
              src="https://cdn.yotako.io/d682a09e-349f-4204-8a4b-d66b41f5173e/194:712.webp" />
          </figure>

          <!-- /wp:image -->
        </div>
        <!-- /wp:group -->
        <!-- wp:paragraph {"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"15.5px","fontWeight":400,"letterSpacing":"-0.5px"},"color":{"text":"#ffffff","background":"transparent"}},"align":"right"} -->
        <p class="text_d9079c7b4f98 has-text-color has-background has-text-align-right"
          style="text-transform:none;font-style:normal;font-size:15.5px;font-weight:400;letter-spacing:-0.5px;color:#ffffff;background-color:transparent;">
          Scan to WhatsApp</p>
        <!-- /wp:paragraph -->
      </div>
      <!-- /wp:group -->
      <!-- wp:image -->

      <figure class="imageview_8c2dbe9054cf wp-block-image">
        <img
          src="https://cdn.yotako.io/d682a09e-349f-4204-8a4b-d66b41f5173e/194:714.svg" />
      </figure>

      <!-- /wp:image -->
      <!-- wp:image -->

      <figure class="imageview_0da61650e101 wp-block-image">
        <img
          src="https://cdn.yotako.io/d682a09e-349f-4204-8a4b-d66b41f5173e/194:717.svg" />
      </figure>

      <!-- /wp:image -->
      <!-- wp:image -->

      <figure class="imageview_a02b52c5729a wp-block-image">
        <img
          src="https://cdn.yotako.io/d682a09e-349f-4204-8a4b-d66b41f5173e/194:721.svg" />
      </figure>

      <!-- /wp:image -->
      <!-- wp:image -->

      <figure class="imageview_279c702629f8 wp-block-image">
        <img
          src="https://cdn.yotako.io/d682a09e-349f-4204-8a4b-d66b41f5173e/194:724.svg" />
      </figure>

      <!-- /wp:image -->
      <!-- wp:image -->

      <figure class="imageview_457cfb21a5ee wp-block-image">
        <img
          src="https://cdn.yotako.io/d682a09e-349f-4204-8a4b-d66b41f5173e/194:727.svg" />
      </figure>

      <!-- /wp:image -->
      <!-- wp:image -->

      <figure class="imageview_be72b9b06cc5 wp-block-image">
        <img
          src="https://cdn.yotako.io/d682a09e-349f-4204-8a4b-d66b41f5173e/194:730.svg" />
      </figure>

      <!-- /wp:image -->
    </div>
    <!-- /wp:group -->
    <!-- wp:group {"layout":{"type":"default"}} -->
    <div class="wp-block-group container_8ec7c1814029">
      <!-- wp:paragraph {"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"17.5px","fontWeight":400,"letterSpacing":"-0.5px"},"color":{"text":"#ffffff","background":"transparent"}},"align":"center"} -->
      <p class="text_450239da8706 has-text-color has-background has-text-align-center"
        style="text-transform:none;font-style:normal;font-size:17.5px;font-weight:400;letter-spacing:-0.5px;color:#ffffff;background-color:transparent;">
        © Copyright | WeThinkCode_</p>
      <!-- /wp:paragraph -->
    </div>
    <!-- /wp:group -->
    <!-- wp:group {"layout":{"type":"default"}} -->
    <div class="wp-block-group container_09b4fa89cea9">
      <!-- wp:group {"layout":{"type":"default"}} -->
      <div class="wp-block-group container_1c7d867b0bf2">
        <!-- wp:group {"layout":{"type":"default"}} -->
        <div class="wp-block-group container_20501760c811">
          <!-- wp:heading {"level":3,"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"24.5px","fontWeight":600,"letterSpacing":"-0.5px"},"color":{"text":"#ffffff","background":"transparent"}},"align":"center"} -->
          <h3
            class="text_172657d09620 has-text-color has-background has-text-align-center"
            style="text-transform:none;font-style:normal;font-size:24.5px;font-weight:600;letter-spacing:-0.5px;color:#ffffff;background-color:transparent;">
            Exclusive Invitation</h3>
          <!-- /wp:heading -->
          <!-- wp:paragraph {"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"15.5px","fontWeight":400,"letterSpacing":"-0.5px"},"color":{"text":"#ffffff","background":"transparent"}},"align":"center"} -->
          <p class="text_1453ecfada7f has-text-color has-background has-text-align-center"
            style="text-transform:none;font-style:normal;font-size:15.5px;font-weight:400;letter-spacing:-0.5px;color:#ffffff;background-color:transparent;">
            Enjoy priority access to WeThinkCode_ events, from networking
            sessions and tech talks to alumni meet-ups, keeping you connected
            with industry trends and influential professionals.</p>
          <!-- /wp:paragraph -->
        </div>
        <!-- /wp:group -->
        <!-- wp:group {"layout":{"type":"default"}} -->
        <div class="wp-block-group container_4258a56b7812">
          <!-- wp:heading {"level":3,"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"24.5px","fontWeight":600,"letterSpacing":"-0.5px"},"color":{"text":"#ffffff","background":"transparent"}},"align":"center"} -->
          <h3
            class="text_5975b3e11659 has-text-color has-background has-text-align-center"
            style="text-transform:none;font-style:normal;font-size:24.5px;font-weight:600;letter-spacing:-0.5px;color:#ffffff;background-color:transparent;">
            Dedicated Goodies</h3>
          <!-- /wp:heading -->
          <!-- wp:paragraph {"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"15.5px","fontWeight":400,"letterSpacing":"-0.5px"},"color":{"text":"#ffffff","background":"transparent"}},"align":"center"} -->
          <p class="text_e354abf29806 has-text-color has-background has-text-align-center"
            style="text-transform:none;font-style:normal;font-size:15.5px;font-weight:400;letter-spacing:-0.5px;color:#ffffff;background-color:transparent;">
            Receive exclusive WeThinkCode_ branded merchandise, celebrating your
            achievements and alumni status with premium apparel and accessories.
          </p>
          <!-- /wp:paragraph -->
        </div>
        <!-- /wp:group -->
        <!-- wp:group {"layout":{"type":"default"}} -->
        <div class="wp-block-group container_d1dbac272bf7">
          <!-- wp:heading {"level":3,"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"24.5px","fontWeight":600,"letterSpacing":"-0.5px"},"color":{"text":"#ffffff","background":"transparent"}},"align":"center"} -->
          <h3
            class="text_717d1243260a has-text-color has-background has-text-align-center"
            style="text-transform:none;font-style:normal;font-size:24.5px;font-weight:600;letter-spacing:-0.5px;color:#ffffff;background-color:transparent;">
            Life Training</h3>
          <!-- /wp:heading -->
          <!-- wp:paragraph {"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"15.5px","fontWeight":400,"letterSpacing":"-0.5px"},"color":{"text":"#ffffff","background":"transparent"}},"align":"center"} -->
          <p class="text_94100504485e has-text-color has-background has-text-align-center"
            style="text-transform:none;font-style:normal;font-size:15.5px;font-weight:400;letter-spacing:-0.5px;color:#ffffff;background-color:transparent;">
            Gain lifetime access to learning resources like the IBM SkillsBuild
            program, supporting your continuous skill development and career
            growth.</p>
          <!-- /wp:paragraph -->
        </div>
        <!-- /wp:group -->
        <!-- wp:group {"layout":{"type":"default"}} -->
        <div class="wp-block-group container_650d8db6ff0d">
          <!-- wp:heading {"level":3,"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"24.5px","fontWeight":600,"letterSpacing":"-0.5px"},"color":{"text":"#ffffff","background":"transparent"}},"align":"center"} -->
          <h3
            class="text_58022d07a94f has-text-color has-background has-text-align-center"
            style="text-transform:none;font-style:normal;font-size:24.5px;font-weight:600;letter-spacing:-0.5px;color:#ffffff;background-color:transparent;">
            and More...</h3>
          <!-- /wp:heading -->
          <!-- wp:paragraph {"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"15.5px","fontWeight":400,"letterSpacing":"-0.5px"},"color":{"text":"#ffffff","background":"transparent"}},"align":"center"} -->
          <p class="text_f4690805e3d1 has-text-color has-background has-text-align-center"
            style="text-transform:none;font-style:normal;font-size:15.5px;font-weight:400;letter-spacing:-0.5px;color:#ffffff;background-color:transparent;">
            WeThinkCode_ Fellows can look forward to additional exclusive perks
            and unexpected rewards throughout their fellowship journey.</p>
          <!-- /wp:paragraph -->
        </div>
        <!-- /wp:group -->
      </div>
      <!-- /wp:group -->
      <!-- wp:heading {"level":2,"style":{"typography":{"textTransform":"capitalize","fontStyle":"normal","fontSize":"34.5px","fontWeight":600,"letterSpacing":"-0.5px"},"color":{"text":"#000000","background":"transparent"}},"align":"center"} -->
      <h2
        class="text_02175bdcef64 has-text-color has-background has-text-align-center"
        style="text-transform:capitalize;font-style:normal;font-size:34.5px;font-weight:600;letter-spacing:-0.5px;color:#000000;background-color:transparent;">
        WeThinkCode_ Fellows</h2>
      <!-- /wp:heading -->
      <!-- wp:paragraph {"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"17.5px","fontWeight":400,"letterSpacing":"-0.5px"},"color":{"text":"#000000","background":"transparent"}},"align":"center"} -->
      <p class="text_2ba1ad7e3bfa has-text-color has-background has-text-align-center"
        style="text-transform:none;font-style:normal;font-size:17.5px;font-weight:400;letter-spacing:-0.5px;color:#000000;background-color:transparent;">
        We invite all WeThinkCode_ alumni to sign up as fellows, a distinguished
        role that lets you inspire the next generation and access exclusive
        perks. Share your journey, support future graduates, and grow with us.
      </p>
      <!-- /wp:paragraph -->
    </div>
    <!-- /wp:group -->
    <!-- wp:group {"layout":{"type":"default"}} -->
    <div class="wp-block-group container_04ee7838fdde">
      <!-- wp:group {"layout":{"type":"default"}} -->
      <div class="wp-block-group container_76044374659d">
        <!-- wp:group {"layout":{"type":"default"}} -->
        <div class="wp-block-group container_4425696a78ff">
          <!-- wp:group {"layout":{"type":"default"}} -->
          <div class="wp-block-group container_52b97901b323">
            <!-- wp:group {"layout":{"type":"default"}} -->
            <div class="wp-block-group container_05f719b2f287">
              <!-- wp:group {"layout":{"type":"default"}} -->
              <div class="wp-block-group container_6ed606e66ad4">
                <!-- wp:group {"layout":{"type":"default"}} -->
                <div class="wp-block-group container_9a10ed9c9c20">
                  <!-- wp:heading {"level":3,"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"23.5px","fontWeight":500,"letterSpacing":"-0.5px"},"color":{"text":"#000000","background":"transparent"}},"align":"left"} -->
                  <h3
                    class="text_a8527784f6c9 has-text-color has-background has-text-align-left"
                    style="text-transform:none;font-style:normal;font-size:23.5px;font-weight:500;letter-spacing:-0.5px;color:#000000;background-color:transparent;">
                    Donations over R1000 qualify for a Section 18A certificate
                  </h3>
                  <!-- /wp:heading -->
                </div>
                <!-- /wp:group -->
              </div>
              <!-- /wp:group -->
            </div>
            <!-- /wp:group -->
            <!-- wp:group {"layout":{"type":"default"}} -->
            <div class="wp-block-group container_9c855d0b4af5">
              <!-- wp:group {"layout":{"type":"default"}} -->
              <div class="wp-block-group container_cad22626aab8">
                <!-- wp:group {"layout":{"type":"default"}} -->
                <div class="wp-block-group container_c20bb40cbf16">
                  <!-- wp:group {"layout":{"type":"default"}} -->
                  <div class="wp-block-group container_0c98aedeb497">
                    <!-- wp:group {"layout":{"type":"default"}} -->
                    <div class="wp-block-group container_c0e8823f641a">
                      <!-- wp:group {"layout":{"type":"default"}} -->
                      <div class="wp-block-group container_a2f158a7a2b1">
                        <!-- wp:pattern {"slug":"yotako/input_text_1b0056e39d45"} /-->
                        <!-- wp:pattern {"slug":"yotako/input_text_aaa3b32b5e19"} /-->
                      </div>
                      <!-- /wp:group -->
                    </div>
                    <!-- /wp:group -->
                    <!-- wp:pattern {"slug":"yotako/input_text_6cf6fa731638"} /-->
                    <!-- wp:pattern {"slug":"yotako/input_text_1b45657ae4d5"} /-->
                    <!-- wp:pattern {"slug":"yotako/input_text_d34d10581660"} /-->
                    <!-- wp:image -->

                    <figure class="imageview_a9adbca0148a wp-block-image">
                      <img
                        src="https://cdn.yotako.io/d682a09e-349f-4204-8a4b-d66b41f5173e/183:546.svg" />
                    </figure>

                    <!-- /wp:image -->
                  </div>
                  <!-- /wp:group -->
                  <!-- wp:yotako-block/button {"className":"button_2c3837520b94","buttonType":"submit","form":"form_04ee7838fdde","linkClassName":"button_link_2c3837520b94"} -->
                  <div class="wp-block-yotako-block-button button_2c3837520b94">
                    <button type="submit" form="form_04ee7838fdde"
                      class="button_link_2c3837520b94">
                      <!-- wp:paragraph {"style":{"typography":{"textTransform":"capitalize","fontStyle":"normal","fontSize":"15.5px","fontWeight":600,"letterSpacing":"-0.5px"},"color":{"text":"#ffffff","background":"transparent"}},"align":"center"} -->
                      <p class="text_ee15acd3debe has-text-color has-background has-text-align-center"
                        style="text-transform:capitalize;font-style:normal;font-size:15.5px;font-weight:600;letter-spacing:-0.5px;color:#ffffff;background-color:transparent;">
                        Donate Now</p>
                      <!-- /wp:paragraph -->
                    </button>
                  </div>
                  <!-- /wp:yotako-block/button -->
                </div>
                <!-- /wp:group -->
              </div>
              <!-- /wp:group -->
            </div>
            <!-- /wp:group -->
          </div>
          <!-- /wp:group -->
        </div>
        <!-- /wp:group -->
      </div>
      <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
    <!-- wp:group {"layout":{"type":"default"}} -->
    <div class="wp-block-group container_880835fa4614">
      <!-- wp:group {"layout":{"type":"default"}} -->
      <div class="wp-block-group container_fbb40593d610">
        <!-- wp:group {"layout":{"type":"default"}} -->
        <div class="wp-block-group container_f7ae2497b7d3">
          <!-- wp:group {"layout":{"type":"default"}} -->
          <div class="wp-block-group container_64719b79e23f">
            <!-- wp:group {"layout":{"type":"default"}} -->
            <div class="wp-block-group container_6e80a568826b">
              <!-- wp:image -->

              <figure class="imageview_8c9c8e4a9297 wp-block-image">
                <img
                  src="https://cdn.yotako.io/d682a09e-349f-4204-8a4b-d66b41f5173e/183:460.svg" />
              </figure>

              <!-- /wp:image -->
              <!-- wp:group {"layout":{"type":"default"}} -->
              <div class="wp-block-group container_13d8ba23bc19">
                <!-- wp:group {"layout":{"type":"default"}} -->
                <div class="wp-block-group container_a50fec965c4b">
                  <!-- wp:yotako-block/anchor {"linkTo":"https://www.youtube.com/watch","target":"_self","linkClassName":"yt-full-width"} -->
                  <div
                    class="wp-block-yotako-block-anchor container_65b3cd774816">
                    <a href="https://www.youtube.com/watch"
                      class="yt-full-width" target="_self" rel="noopener">
                      <!-- wp:group {"layout":{"type":"default"}} -->
                      <div class="wp-block-group container_65b3cd774816">
                        <!-- wp:group {"layout":{"type":"default"}} -->
                        <div class="wp-block-group container_1360e4a7fb46">
                          <!-- wp:group {"layout":{"type":"default"}} -->
                          <div class="wp-block-group container_e39eebd9aa23">
                            <!-- wp:yotako-block/anchor {"linkTo":"https://www.youtube.com/watch","target":"_self","linkClassName":""} -->
                            <div class="wp-block-yotako-block-anchor "><a
                                href="https://www.youtube.com/watch"
                                target="_self" rel="noopener">
                                <!-- wp:paragraph {"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"15.5px","fontWeight":500,"letterSpacing":"-0.5px"},"color":{"text":"#ffffff","background":"transparent"}},"align":"left"} -->
                                <p class="text_c7e894db294c has-text-color has-background has-text-align-left"
                                  style="text-transform:none;font-style:normal;font-size:15.5px;font-weight:500;letter-spacing:-0.5px;color:#ffffff;background-color:transparent;">
                                  Watch on</p>
                                <!-- /wp:paragraph -->
                              </a></div><!-- /wp:yotako-block/anchor -->
                          </div>
                          <!-- /wp:group -->
                          <!-- wp:image -->

                          <figure class="imageview_dec406080a3e wp-block-image">
                            <img
                              src="https://cdn.yotako.io/d682a09e-349f-4204-8a4b-d66b41f5173e/183:468.svg" />
                          </figure>

                          <!-- /wp:image -->
                        </div>
                        <!-- /wp:group -->
                      </div>
                      <!-- /wp:group -->
                    </a></div><!-- /wp:yotako-block/anchor -->
                  <!-- wp:image -->

                  <figure class="imageview_9b702130dac2 wp-block-image">
                    <img
                      src="https://cdn.yotako.io/d682a09e-349f-4204-8a4b-d66b41f5173e/183:472.webp" />
                  </figure>

                  <!-- /wp:image -->
                  <!-- wp:group {"layout":{"type":"default"}} -->
                  <div class="wp-block-group container_61c8319c9789">
                    <!-- wp:group {"layout":{"type":"default"}} -->
                    <div class="wp-block-group container_9e5b6829e807">
                      <!-- wp:group {"layout":{"type":"default"}} -->
                      <div class="wp-block-group container_177e32d78efe">
                        <!-- wp:group {"layout":{"type":"default"}} -->
                        <div class="wp-block-group container_c16738b3e5de">
                          <!-- wp:yotako-block/anchor {"linkTo":"https://www.youtube.com/watch","target":"_self","linkClassName":""} -->
                          <div class="wp-block-yotako-block-anchor "><a
                              href="https://www.youtube.com/watch"
                              target="_self" rel="noopener">
                              <!-- wp:paragraph {"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"17.5px","fontWeight":400,"letterSpacing":"-0.5px"},"color":{"text":"#eeeeee","background":"transparent"}},"align":"left"} -->
                              <p class="text_f7592d54497e has-text-color has-background has-text-align-left"
                                style="text-transform:none;font-style:normal;font-size:17.5px;font-weight:400;letter-spacing:-0.5px;color:#eeeeee;background-color:transparent;">
                                Your donation gives talented youth an
                                opportunity to g…</p>
                              <!-- /wp:paragraph -->
                            </a></div><!-- /wp:yotako-block/anchor -->
                        </div>
                        <!-- /wp:group -->
                      </div>
                      <!-- /wp:group -->
                    </div>
                    <!-- /wp:group -->
                    <!-- wp:group {"layout":{"type":"default"}} -->
                    <div class="wp-block-group container_ac892b5c6299">
                      <!-- wp:group {"layout":{"type":"default"}} -->
                      <div class="wp-block-group container_4e1b8f24b8b6">
                        <!-- wp:image -->

                        <figure class="imageview_17c659aaaadb wp-block-image">
                          <img
                            src="https://cdn.yotako.io/d682a09e-349f-4204-8a4b-d66b41f5173e/183:480.svg" />
                        </figure>

                        <!-- /wp:image -->
                        <!-- wp:group {"layout":{"type":"default"}} -->
                        <div class="wp-block-group container_0f0b6555ef59">
                          <!-- wp:paragraph {"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"13.5px","fontWeight":500,"letterSpacing":"-0.5px"},"color":{"text":"#eeeeee","background":"transparent"}},"align":"center"} -->
                          <p class="text_960326677747 has-text-color has-background has-text-align-center"
                            style="text-transform:none;font-style:normal;font-size:13.5px;font-weight:500;letter-spacing:-0.5px;color:#eeeeee;background-color:transparent;">
                            Share</p>
                          <!-- /wp:paragraph -->
                        </div>
                        <!-- /wp:group -->
                      </div>
                      <!-- /wp:group -->
                    </div>
                    <!-- /wp:group -->
                    <!-- wp:group {"layout":{"type":"default"}} -->
                    <div class="wp-block-group container_3e4a72ae7ae1">
                      <!-- wp:image -->

                      <figure class="imageview_9e121c7f8f90 wp-block-image">
                        <img
                          src="https://cdn.yotako.io/d682a09e-349f-4204-8a4b-d66b41f5173e/183:487.webp" />
                      </figure>

                      <!-- /wp:image -->
                    </div>
                    <!-- /wp:group -->
                  </div>
                  <!-- /wp:group -->
                  <!-- wp:group {"layout":{"type":"default"}} -->
                  <div class="wp-block-group container_7abfdd602bc3">
                    <!-- wp:image -->

                    <figure class="imageview_b16172ca3e1f wp-block-image">
                      <img
                        src="https://cdn.yotako.io/d682a09e-349f-4204-8a4b-d66b41f5173e/183:489.webp" />
                    </figure>

                    <!-- /wp:image -->
                    <!-- wp:image -->

                    <figure class="imageview_1e5711d196fb wp-block-image">
                      <img
                        src="https://cdn.yotako.io/d682a09e-349f-4204-8a4b-d66b41f5173e/183:490.svg" />
                    </figure>

                    <!-- /wp:image -->
                  </div>
                  <!-- /wp:group -->
                </div>
                <!-- /wp:group -->
              </div>
              <!-- /wp:group -->
            </div>
            <!-- /wp:group -->
          </div>
          <!-- /wp:group -->
        </div>
        <!-- /wp:group -->
        <!-- wp:group {"layout":{"type":"default"}} -->
        <div class="wp-block-group container_83317d971ba2">
          <!-- wp:group {"layout":{"type":"default"}} -->
          <div class="wp-block-group container_caa2f0ac656a">
            <!-- wp:group {"layout":{"type":"default"}} -->
            <div class="wp-block-group container_6ad61608184e">
              <!-- wp:group {"layout":{"type":"default"}} -->
              <div class="wp-block-group container_4dcc17e3265d">
                <!-- wp:group {"layout":{"type":"default"}} -->
                <div class="wp-block-group container_2502ae14f915">
                  <!-- wp:group {"layout":{"type":"default"}} -->
                  <div class="wp-block-group container_5e5408562c4c">
                    <!-- wp:group {"layout":{"type":"default"}} -->
                    <div class="wp-block-group container_241f544a93c8">
                      <!-- wp:heading {"level":2,"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"34.5px","fontWeight":600,"letterSpacing":"-0.5px"},"color":{"text":"#000000","background":"transparent"}},"align":"center"} -->
                      <h2
                        class="text_c3471db4e8f6 has-text-color has-background has-text-align-center"
                        style="text-transform:none;font-style:normal;font-size:34.5px;font-weight:600;letter-spacing:-0.5px;color:#000000;background-color:transparent;">
                        Our Story</h2>
                      <!-- /wp:heading -->
                    </div>
                    <!-- /wp:group -->
                  </div>
                  <!-- /wp:group -->
                </div>
                <!-- /wp:group -->
                <!-- wp:group {"layout":{"type":"default"}} -->
                <div class="wp-block-group container_afc8f8614641">
                  <!-- wp:group {"layout":{"type":"default"}} -->
                  <div class="wp-block-group container_aa1987842160">
                    <!-- wp:group {"layout":{"type":"default"}} -->
                    <div class="wp-block-group container_8ce41404b940">
                      <!-- wp:paragraph {"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"17.5px","fontWeight":100,"letterSpacing":"-0.5px"},"color":{"text":"#212529","background":"transparent"}},"align":"center"} -->
                      <p class="text_6a51a5cfdd83 has-text-color has-background has-text-align-center"
                        style="text-transform:none;font-style:normal;font-size:17.5px;font-weight:100;letter-spacing:-0.5px;color:#212529;background-color:transparent;">
                        WeThinkCode_ was established in 2015 and launched
                        its<br />inaugural cohort in 2016 in Johannesburg, South
                        Africa. It has<br />since grown, extending its footprint
                        to Cape Town (2018) and<br />Durban (2021), and is now
                        delivering its proven curriculum at<br />public
                        technical vocational education and training
                        (TVET)<br />colleges in South Africa.</p>
                      <!-- /wp:paragraph -->
                    </div>
                    <!-- /wp:group -->
                    <!-- wp:group {"layout":{"type":"default"}} -->
                    <div class="wp-block-group container_00e3ff8f375e">
                      <!-- wp:paragraph {"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"17.5px","fontWeight":100,"letterSpacing":"-0.5px"},"color":{"text":"#000000","background":"transparent"}},"align":"center"} -->
                      <p class="text_c1260293b02e has-text-color has-background has-text-align-center"
                        style="text-transform:none;font-style:normal;font-size:17.5px;font-weight:100;letter-spacing:-0.5px;color:#000000;background-color:transparent;">
                        WeThinkCode_ is a registered non-profit company (NPC)
                        and<br />public benefit organisation (PBO) whose
                        business model works<br />across the youth development
                        value chain to recruit youth with a<br />high aptitude
                        to code, train them rigorously over 16 months
                        and<br />place them into jobs as software developers
                        within South Africa’s<br />most reputable and innovative
                        businesses.</p>
                      <!-- /wp:paragraph -->
                    </div>
                    <!-- /wp:group -->
                    <!-- wp:group {"layout":{"type":"default"}} -->
                    <div class="wp-block-group container_6006a37338db">
                      <!-- wp:paragraph {"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"17.5px","fontWeight":100,"letterSpacing":"-0.5px"},"color":{"text":"#000000","background":"transparent"}},"align":"center"} -->
                      <p class="text_f55d024eca28 has-text-color has-background has-text-align-center"
                        style="text-transform:none;font-style:normal;font-size:17.5px;font-weight:100;letter-spacing:-0.5px;color:#000000;background-color:transparent;">
                        WeThinkCode_’s purpose is to shift Africa from
                        consumption to<br />the creation of tech.</p>
                      <!-- /wp:paragraph -->
                    </div>
                    <!-- /wp:group -->
                  </div>
                  <!-- /wp:group -->
                </div>
                <!-- /wp:group -->
              </div>
              <!-- /wp:group -->
            </div>
            <!-- /wp:group -->
          </div>
          <!-- /wp:group -->
        </div>
        <!-- /wp:group -->
      </div>
      <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
    <!-- wp:group {"layout":{"type":"default"}} -->
    <div class="wp-block-group container_010ef9f11736">
      <!-- wp:image -->

      <figure class="imageview_c98413486a5a wp-block-image">
        <img
          src="https://cdn.yotako.io/d682a09e-349f-4204-8a4b-d66b41f5173e/169:2.webp" />
      </figure>

      <!-- /wp:image -->
      <!-- wp:group {"layout":{"type":"default"}} -->
      <div class="wp-block-group container_8f52aadcca08">

        <!-- wp:spacer {"height":"0px"} -->
        <div class="wp-block-spacer" style="height:0px" aria-hidden="true">
        </div>
        <!-- /wp:spacer -->
      </div>
      <!-- /wp:group -->
      <!-- wp:heading {"level":2,"style":{"typography":{"textTransform":"capitalize","fontStyle":"normal","fontSize":"39.5px","fontWeight":600,"letterSpacing":"-0.5px"},"color":{"text":"#ffffff","background":"transparent"}},"align":"center"} -->
      <h2
        class="text_af2d242c62fe has-text-color has-background has-text-align-center"
        style="text-transform:capitalize;font-style:normal;font-size:39.5px;font-weight:600;letter-spacing:-0.5px;color:#ffffff;background-color:transparent;">
        Building the Next Wave of Tech Innovation.</h2>
      <!-- /wp:heading -->
      <!-- wp:group {"layout":{"type":"default"}} -->
      <div class="wp-block-group container_40b29d35a5e0">
        <!-- wp:yotako-block/anchor {"linkTo":"/","target":"_self","linkClassName":"button_link_0ed427ee15ec"} -->
        <div class="wp-block-yotako-block-anchor button_0ed427ee15ec"><a
            href="/" class="button_link_0ed427ee15ec" target="_self"
            rel="noopener">
            <!-- wp:group {"layout":{"type":"default"}} -->
            <div class="wp-block-group container_f576dd2fe874">
              <!-- wp:paragraph {"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"17.5px","fontWeight":600,"letterSpacing":"-0.5px"},"color":{"text":"#ffffff","background":"transparent"}},"align":"center"} -->
              <p class="text_5b777d2c3afc has-text-color has-background has-text-align-center"
                style="text-transform:none;font-style:normal;font-size:17.5px;font-weight:600;letter-spacing:-0.5px;color:#ffffff;background-color:transparent;">
                Donate Now</p>
              <!-- /wp:paragraph -->
            </div>
            <!-- /wp:group -->
          </a></div><!-- /wp:yotako-block/anchor -->
        <!-- wp:yotako-block/anchor {"linkTo":"/","target":"_self","linkClassName":"button_link_273062255b3f"} -->
        <div class="wp-block-yotako-block-anchor button_273062255b3f"><a
            href="/" class="button_link_273062255b3f" target="_self"
            rel="noopener">
            <!-- wp:group {"layout":{"type":"default"}} -->
            <div class="wp-block-group container_d2e14f27ad0a">
              <!-- wp:paragraph {"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"17.5px","fontWeight":600,"letterSpacing":"-0.5px"},"color":{"text":"#ffffff","background":"transparent"}},"align":"center"} -->
              <p class="text_b596929fa465 has-text-color has-background has-text-align-center"
                style="text-transform:none;font-style:normal;font-size:17.5px;font-weight:600;letter-spacing:-0.5px;color:#ffffff;background-color:transparent;">
                Become A Fellow</p>
              <!-- /wp:paragraph -->
            </div>
            <!-- /wp:group -->
          </a></div><!-- /wp:yotako-block/anchor -->
      </div>
      <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
    <!-- wp:group {"layout":{"type":"default"}} -->
    <div class="wp-block-group container_11195af93d0b">
      <!-- wp:yotako-block/anchor {"linkTo":"/","target":"_self","linkClassName":"button_link_4c36e84b1742"} -->
      <div class="wp-block-yotako-block-anchor button_4c36e84b1742"><a href="/"
          class="button_link_4c36e84b1742" target="_self" rel="noopener">
          <!-- wp:image -->

          <figure class="imageview_e7a3bd43737a wp-block-image">
            <img
              src="https://cdn.yotako.io/d682a09e-349f-4204-8a4b-d66b41f5173e/135:286.webp" />
          </figure>

          <!-- /wp:image -->
        </a></div><!-- /wp:yotako-block/anchor -->
      <!-- wp:group {"layout":{"type":"default"}} -->
      <div class="wp-block-group container_3fc8b1a90f70">
        <!-- wp:group {"layout":{"type":"default"}} -->
        <div class="wp-block-group container_4f20ce853fe3">
          <!-- wp:paragraph {"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"15.5px","fontWeight":600,"letterSpacing":"-0.5px"},"color":{"text":"#000000","background":"transparent"}},"align":"left"} -->
          <p class="text_50f8c24092b9 has-text-color has-background has-text-align-left"
            style="text-transform:none;font-style:normal;font-size:15.5px;font-weight:600;letter-spacing:-0.5px;color:#000000;background-color:transparent;">
            Home</p>
          <!-- /wp:paragraph -->
        </div>
        <!-- /wp:group -->
        <!-- wp:group {"layout":{"type":"default"}} -->
        <div class="wp-block-group container_ca48194a33aa">
          <!-- wp:paragraph {"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"15.5px","fontWeight":600,"letterSpacing":"-0.5px"},"color":{"text":"#000000","background":"transparent"}},"align":"left"} -->
          <p class="text_bf4fa3b01e9c has-text-color has-background has-text-align-left"
            style="text-transform:none;font-style:normal;font-size:15.5px;font-weight:600;letter-spacing:-0.5px;color:#000000;background-color:transparent;">
            About</p>
          <!-- /wp:paragraph -->
        </div>
        <!-- /wp:group -->
        <!-- wp:group {"layout":{"type":"default"}} -->
        <div class="wp-block-group container_e529e5a6ca78">
          <!-- wp:paragraph {"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"15.5px","fontWeight":600,"letterSpacing":"-0.5px"},"color":{"text":"#000000","background":"transparent"}},"align":"left"} -->
          <p class="text_c535831585cf has-text-color has-background has-text-align-left"
            style="text-transform:none;font-style:normal;font-size:15.5px;font-weight:600;letter-spacing:-0.5px;color:#000000;background-color:transparent;">
            Partner</p>
          <!-- /wp:paragraph -->
        </div>
        <!-- /wp:group -->
        <!-- wp:group {"layout":{"type":"default"}} -->
        <div class="wp-block-group container_db68ec388f5b">
          <!-- wp:paragraph {"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"15.5px","fontWeight":600,"letterSpacing":"-0.5px"},"color":{"text":"#000000","background":"transparent"}},"align":"left"} -->
          <p class="text_15240fb69688 has-text-color has-background has-text-align-left"
            style="text-transform:none;font-style:normal;font-size:15.5px;font-weight:600;letter-spacing:-0.5px;color:#000000;background-color:transparent;">
            Enrol</p>
          <!-- /wp:paragraph -->
        </div>
        <!-- /wp:group -->
        <!-- wp:group {"layout":{"type":"default"}} -->
        <div class="wp-block-group container_0904daeffbb5">
          <!-- wp:paragraph {"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"15.5px","fontWeight":600,"letterSpacing":"-0.5px"},"color":{"text":"#000000","background":"transparent"}},"align":"left"} -->
          <p class="text_63d4ff1693dd has-text-color has-background has-text-align-left"
            style="text-transform:none;font-style:normal;font-size:15.5px;font-weight:600;letter-spacing:-0.5px;color:#000000;background-color:transparent;">
            News</p>
          <!-- /wp:paragraph -->
        </div>
        <!-- /wp:group -->
        <!-- wp:group {"layout":{"type":"default"}} -->
        <div class="wp-block-group container_2e98f5bf8d2b">
          <!-- wp:paragraph {"style":{"typography":{"textTransform":"none","fontStyle":"normal","fontSize":"15.5px","fontWeight":600,"letterSpacing":"-0.5px"},"color":{"text":"#333333","background":"transparent"}},"align":"left"} -->
          <p class="text_bde1aafa685f has-text-color has-background has-text-align-left"
            style="text-transform:none;font-style:normal;font-size:15.5px;font-weight:600;letter-spacing:-0.5px;color:#333333;background-color:transparent;">
            Contact</p>
          <!-- /wp:paragraph -->
        </div>
        <!-- /wp:group -->
      </div>
      <!-- /wp:group -->
      <!-- wp:yotako-block/anchor {"linkTo":"/","target":"_self","linkClassName":"button_link_edb538139214"} -->
      <div class="wp-block-yotako-block-anchor button_edb538139214"><a href="/"
          class="button_link_edb538139214" target="_self" rel="noopener">
          <!-- wp:paragraph {"style":{"typography":{"textTransform":"capitalize","fontStyle":"normal","fontSize":"14.5px","fontWeight":600,"letterSpacing":"-0.5px"},"color":{"text":"#ffffff","background":"transparent"}},"align":"center"} -->
          <p class="text_e148d51484e4 has-text-color has-background has-text-align-center"
            style="text-transform:capitalize;font-style:normal;font-size:14.5px;font-weight:600;letter-spacing:-0.5px;color:#ffffff;background-color:transparent;">
            Donate</p>
          <!-- /wp:paragraph -->
        </a></div><!-- /wp:yotako-block/anchor -->
      <!-- wp:yotako-block/anchor {"linkTo":"/","target":"_self","linkClassName":"button_link_98152eb9c9e9"} -->
      <div class="wp-block-yotako-block-anchor button_98152eb9c9e9"><a href="/"
          class="button_link_98152eb9c9e9" target="_self" rel="noopener">
          <!-- wp:paragraph {"style":{"typography":{"textTransform":"capitalize","fontStyle":"normal","fontSize":"14.5px","fontWeight":600,"letterSpacing":"-0.5px"},"color":{"text":"#ffffff","background":"transparent"}},"align":"center"} -->
          <p class="text_94ece50ac0f0 has-text-color has-background has-text-align-center"
            style="text-transform:capitalize;font-style:normal;font-size:14.5px;font-weight:600;letter-spacing:-0.5px;color:#ffffff;background-color:transparent;">
            Apply Now</p>
          <!-- /wp:paragraph -->
        </a></div><!-- /wp:yotako-block/anchor -->
      <!-- wp:image -->

      <figure class="imageview_3f415d1335d9 wp-block-image">
        <img
          src="https://cdn.yotako.io/d682a09e-349f-4204-8a4b-d66b41f5173e/135:304.svg" />
      </figure>

      <!-- /wp:image -->
    </div>
    <!-- /wp:group -->
    <!-- wp:yotako-block/form {"formName":"form_95f579bd9f84"} -->
    <form class="wp-block-yotako-block-form" id="form_95f579bd9f84"
      onsubmit="return form_95f579bd9f84(event)"></form>
    <!-- /wp:yotako-block/form -->
  </div>
  <!-- /wp:group -->
</div>
<!-- /wp:group -->